<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style.css" />

    <link
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
     
    />
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <img src="img/view-dashboard.svg" alt="" />
          <h1>Dashboard</h1>
        </div>
        <nav class="menu">
          <ul>
            <li>
              <a href="index.html"> <i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
              <a href="/Imagescan"><i class="fa-solid fa-fish"></i>Scan Image</a>

            </li>
            <li>
              <a href="ash.html"><i class="fa-solid fa-message"></i>Results </a>
            </li>
            <li>
              <a href="pro.html"><i class="fa-solid fa-clock"></i>User Login</a>
            </li>
            <li>
              <a href="social.html"><i class="fa-solid fa-note-sticky"></i>Social media</a>
            </li>
            <li>
              <a href="https://www.tnjfu.ac.in/complaintportal"><i class="fa-solid fa-users"></i>Complaint portal </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="about.html"><i class="fa-sharp fa-solid fa-gear"></i>About Us</a>F
            </li>
            <li>
              <a href="https://fsi.gov.in"
                ><i class="fa-regular fa-circle-question"></i>Fishery survey</a
              >
            </li>
            <li>
              <a href="policy.html"><i class="fa-solid fa-shield-halved"></i>Privacy&policy</a>
            </li>
          </ul>
        </nav>
      </aside>

      <header class="header">
        <div class="searchbar">
          <label for="search">
            <i class="fa-solid fa-magnifying-glass"></i
          ></label>
          <input type="text" name="search" id="search" />
        </div>
        <div class="account">
          <button class="round-button">
            <i class="fa-regular fa-bell"></i>
          </button>
          <div class="avatar avatar-small">
            <img src="../static/images/Fish.jpg" alt="" />
          </div>
         Toxin Anticipation 
        </div>
        <div class="greeting">
          <div class="avatar">
            <img src="../static/images/fish.jpg" alt="" />
          </div>
          <div>Hi there, <span> (@Fishery web)</span></div>
        </div>

        <div class="controls">
          <button>New</button>
          <button>Upload</button>
          <button>Share</button>
        </div>
      </header>
      <main class="board">
        <div class="projects-wrapper">
          <h2>In This Project</h2>
          <div class="projects">
            <div class="card">
              <a href="#">
                <h3> project Title</h3>
                <p>
                  Detecting the presence of toxicants in fish is vital for public health and the environment
                </p>
              </a>
              <div class="card-actions">
                <a href="#"><i class="fa-regular fa-star"></i></a>
                <a href="#"><i class="fa-regular fa-eye"></i></a>
                <a href="#"><i class="fa-solid fa-code-fork"></i></a>
              </div>
            </div>

            <div class="card">
              <a href="#">
                <h3>Fish Toxin Detect Dashboard</h3>
                <p>
                  The objective is to create a predictive model that can assist in monitoring and managing the toxicants and other chemical compounds in fish farms, ensuring the safety and quality of the produce.

                </p>
              </a>
              <div class="card-actions">
                <a href="#"><i class="fa-regular fa-star"></i></a>
                <a href="#"><i class="fa-regular fa-eye"></i></a>
                <a href="#"><i class="fa-solid fa-code-fork"></i></a>
              </div>
            </div>
            <div class="card">
              <a href="#">
                <h3>Impossible Web</h3>
                <p>Fish can be directly or indirectly impacted by preservatives. Currently, detecting and analysing the  toxicants is not possible so, people face lot of problem related to health. 
</p>
              </a>
              <div class="card-actions">
                <a href="#"><i class="fa-regular fa-star"></i></a>
                <a href="#"><i class="fa-regular fa-eye"></i></a>
                <a href="#"><i class="fa-solid fa-code-fork"></i></a>
              </div>
            </div>
            <div class="card">
              <a href="#">
                <h3>Easy web</h3>
                <p>
                  we can use this web simply scan and predict the precence of Toxin level in fish!
                </p>
                <div class="card-actions">
                  <a href="#"><i class="fa-regular fa-star"></i></a>
                  <a href="#"><i class="fa-regular fa-eye"></i></a>
                  <a href="#"><i class="fa-solid fa-code-fork"></i></a>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <h3>Buy Fish</h3>
                <p>
                  For buying fish You have to click Buy Fish option .The Fill the Information.
                </p>
                <div class="card-actions">
                  <a href="#"><i class="fa-regular fa-star"></i></a>
                  <a href="#"><i class="fa-regular fa-eye"></i></a>
                  <a href="#"><i class="fa-solid fa-code-fork"></i></a>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <h3>Fish Disease prediction</h3>
                <p>
                  In intensive aquaculture, the real-time detection and monitoring of common infectious disease is an important basis for scientific fish epidemic prevention strategies that can effectively reduce fish mortality and economic loss.
                </p>
              </a>
              <div class="card-actions">
                <a href="#"><i class="fa-regular fa-star"></i></a>
                <a href="#"><i class="fa-regular fa-eye"></i></a>
                <a href="#"><i class="fa-solid fa-code-fork"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2>Announcements</h2>
          <ul class="card announcements">
            <li>
              <a href="#">
                <h4>Site maintenance</h4>
                <p>
                  Regular Updates,Security Measures,Monitering Tools
			
                </p>
              </a>
            </li>
            <li>
              <a href="#">
                <h4>Security Details</h4>
                <p>
                  Secure API's'If web exposes deep learning models through API's,ensure that APIendpoints are protected against unauthorized access,abuse,and exploitation.

                </p>
              </a>
            </li>
            <li>
              <a href="#">
                <h4>Updated privacy policy</h4>
                <p>
                  We reserve the rights to update or modify this privacy and policy at any time
                </p>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h2>Trending</h2>
          <ul class="card trending">
            <li>
              <a href="https://youtu.be/NOZONW-UK0w?t=27">
                <div class="avatar avatar-small">
                  <img src="../static/images/underwater.jpg" alt="" />
                </div>
                <div>
                  <span>@Fishery</span>
                  <p>sustainable fishing practices</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="avatar avatar-small">
                  <img src="../static/svg/fish2.svg" alt="" />
                </div>
                <div>
                  <span>@Fishery</span>
                  <p>The rise of Aquaculture</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="avatar avatar-small">
                  <img src="../static/images/Fish.jpg" alt="" />
                </div>
                <div>
                  <span>@Fishery</span>
                  <p>Increase demand for seafood alternatives</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="avatar avatar-small">
                  <img src="../static/svg/clown-fish.svg" alt="" />
                </div>
                <div>
                  <span>@Fishery</span>
                  <p>use of blockchain technology</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
<footer>
  <p>&copy; 2024 Fishery Toxin prediction Website. All rights reserved.</p>
</footer>

      </main>
    </div>
  </body>
</html>
